.manageProfile {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.profileImage {
  max-width: 75%;
  min-height: 25em;
  border-radius: 50px;
}
.personalInformation {
  width: 70%;
}
.accountDiv {
  margin-bottom: 1.2em;
}
.profileInput {
  width: 100%;
  height: 7vh;
  border-radius: 5px;
  border: solid 1px rgb(209, 204, 204);
  padding: 1em;
}
.profileLabel {
  margin-bottom: 0.3em;
}
.profileBtn {
  padding: 0.5em;
  border-radius: 10px;
  background-color: var(--teal);
  color: var(--white);
  border: none;
}
.logOut {
  padding: 0.5em;
  border-radius: 10px;
  background-color: red;
  color: var(--white);
  border: none;
  margin-left: 1em;
}
@media screen and (max-width: 800px) {
  .manageProfile {
    flex-direction: column;
    margin: 1em;
  }
  .profileImage {
    width: 180px;
    height: 11em;
  }
  .profileImage1 {
    margin: 0 auto 2em;
  }
  .profileBtn1 {
    display: flex;
    justify-content: center;
  }
  .personalInformation {
    margin: auto;
  }
  .accountTitle {
    display: flex;
    justify-content: center;
  }
}
